APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomKey!!!

DB_CONNECTION=pgsql
DB_HOST=localhost
DB_PORT=5432
DB_DATABASE=mir24
DB_USERNAME=postgres
DB_PASSWORD=postgres

CACHE_DRIVER=memcached
QUEUE_DRIVER=sync
